<nav class="navbar navbar-light bg-light">
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="" *ngIf="!loggedIn">Navbar</a>
      <a class="navbar-brand" routerLink="dashboard" *ngIf="loggedIn">Dashboard</a>
      <form class="d-flex">
        <div>
            <a class="btn btn-outline-success" routerLink="login" *ngIf="!loggedIn">Login</a>
            <a class="btn btn-outline-success" href="#" (click)="logout($event)" *ngIf="loggedIn">Logout</a>
            <a class="btn btn-outline-success" routerLink="register" *ngIf="!loggedIn">Register</a>
        </div>
      </form>
    </div>
  </nav>