<div>
    Welcome {{userName}}
    <div>
        <div class="mt-4 col-8 offset-2 divItem">
            These are your currently saved IP addresses:
                <ul class="list-group ulItems">
                    <li 
                        class="list-group-item" 
                        *ngFor="let ip of ipData">id: {{ip.id}} IP: {{ip.ip}} Label: {{ip.label}} Comment: {{ip.comment}}
                        <a class="edit-button" [routerLink]="['/editip', ip.id]">Edit</a>
                    </li>
                  </ul>
            </div>
            <a href="add-ip">Add new IP</a>
    </div>

    <div>
        <div class="mt-4 col-8 offset-2 divItem">
            These are your currently saved Audits:
                <ul class="list-group ulItems">
                    <li 
                        class="list-group-item" 
                        *ngFor="let audit of auditData">{{audit.text}}
                    </li>
                  </ul>
            </div>
    </div>
</div>