/* You can add global styles to this file, and also import other style files */
@import '~bootstrap/dist/css/bootstrap.css';

.btn {
    margin-left: 10px;
}
.ng-invalid:not(form) {
    border-left: 5px solid red;
}
.ng-valid:not(form) {
    border-left: 5px solid green;
}

.edit-button {
    float: right;
}