<div class="mt-4 col-8 offset-2">
    <div class="card">
        <div class="card-header">
            <div class="card-body">
                <form #registerForm="ngForm" (ngSubmit)="onSubmit()">

                    <div class="mb-3">
                        <label for="name" class="form-label">Name</label>
                        <input type="text" 
                                  class="form-control" 
                                  id="name" 
                                  name="name" 
                                  placeholder="Enter full name" 
                                  [(ngModel)]="form.name"
                                required>
                    </div>
                    <div class="alert alert-danger" [hidden]="!error.name">
                        {{error.name}}
                    </div>

                    <div class="mb-3">
                        <label for="email" class="form-label">Email Address</label>
                        <input type="email" 
                                  class="form-control" 
                                  id="email"
                                  name="email" 
                                  [(ngModel)]="form.email"
                                  placeholder="Email Address" required>
                    </div>
                    <div class="alert alert-danger" [hidden]="!error.email">
                        {{error.email}}
                    </div>

                    <div class="mb-3">
                        <label for="password" class="form-label">Password</label>
                        <input type="password" 
                                  class="form-control" 
                                  id="password"
                                  name="password" 
                                  [(ngModel)]="form.password"
                                  placeholder="Password" required>
                    </div>
                    <div class="alert alert-danger" [hidden]="!error.password">
                        {{error.password}}
                    </div>
                      <div class="mb-3">
                        <label for="password_confirmation" class="form-label">Rewrite Password</label>
                        <input type="password" 
                                  class="form-control" 
                                  id="password_confirmation"
                                  name="password_confirmation" 
                                  [(ngModel)]="form.password_confirmation"
                                  placeholder="Password" required>
                      </div>
                    <div class="alert alert-danger" [hidden]="!error.password_confirmation">
                        {{error.password_confirmation}}
                    </div>
                      <button type="submit" 
                            class="btn btn-primary"
                            [disabled]="!registerForm.valid"
                            >
                            Register
                    </button>

                    <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#exampleModal">
                        Launch demo modal
                      </button>

                </form>
            </div>
        </div>
    </div>
</div>



<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Modal title</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          ...
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <button type="button" class="btn btn-primary">Save changes</button>
        </div>
      </div>
    </div>
  </div>